body {
  background-image: linear-gradient(rgb(216, 64, 216), rgb(86, 86, 228));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

p {
  cursor: pointer;
  line-height: 25px;
}

h1 {
  background-color: rgb(202, 154, 250);
  padding: 1%;
  border-radius: 10px;
}

h2 {
  background-color: rgb(202, 154, 250);
  padding: 2%;
  border-radius: 10px;
}

h4 {
  line-height: 30px;
  font-weight: normal;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  width: 60%;
  margin: 0 auto;
  grid-gap: 1%;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-top: 5%;
  border-radius: 10px;
  padding: 0px 20px 10px 20px;
  background-color: rgb(238, 235, 235);
}

.starwarspeople {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0px 15px 10px 15px;
  border-radius: 10px;
  background-color: rgb(238, 235, 235);
}

.list {
  padding: 0px 5px 10px 5px;
}

.people {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0px 15px 10px 15px;
  border-radius: 10px;
  box-shadow: 10px rgb(0, 0, 0);
  background-color: rgb(238, 235, 235);
}

.prev-btn {
  background-color: rgb(202, 154, 250);
  color: black;
  cursor: pointer;
  border: none;
  width: 10%;
  height: 5%;
}

.next-btn {
  background-color: rgb(202, 154, 250);
  color: black;
  cursor: pointer;
  border: none;
  width: 10%;
  height: 5%;
  margin: 1%;
  margin-bottom: 5%;
}

footer {
  height: 20%;
  margin-top: 7%;
  font-weight: bold;
  text-align: center;
  grid-column: 1/3;
  grid-row: 3/4;
}
